.landing {
  /* background-color: #89e6e6; */
  background-color: white;
  max-height: 100vh;
  width: 100%;
  overflow-x: auto;  
}

.tableContainerDiv{
  max-height: 85vh;
  width: 100%;
  overflow-x: auto;
}

.sidebar {
  height: 100vh;
}


.login_form{
  position: absolute;
  top: 20%;
  width: 40%;
  left:30%;
}
.signup_form{
  position: absolute;
  top: 20%;
  width: 40%;
  left:30%;
}

.image{
  max-height: 50px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.edit-icon{
  font-size: 20px;
  color:sandybrown;
}
.delete-icon{
  font-size: 20px;
  color:red;
}
.detail-icon{
  font-size: 20px;
  color:green;
}
.add-icon{
  font-size: 20px;
  color:white;
}
.eye-icon{
  font-size: 20px;
  color:teal;
}
.search-icon{
  font-size: 20px;
  color:white;
}

.module-permission-box{
  max-height: 400px;
  overflow-x: auto;
}

.fullWindow-Spinner {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
  color: white;
}

/* scrollbar start */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* scrollbar end */


/* pro sidebar start */

.proSidebar{
  background-color: #007788 !important;
}

/* pro sidebar end */

.filePreviewDiv{
  max-height: 500px;
  overflow-x: auto;
}