.landing {
  background-color: #89e6e6;
  max-height: 100vh;
  width: 100%;
overflow-x: auto;  
}

.sidebar {
  height: 100vh;
}


.login_form{
  position: absolute;
  top: 20%;
  width: 40%;
  left:30%;
}
.signup_form{
  position: absolute;
  top: 20%;
  width: 40%;
  left:30%;
}

.image{
  max-height: 50px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.edit-icon{
  font-size: 20px;
  color:sandybrown;
}
.delete-icon{
  font-size: 20px;
  color:red;
}
.detail-icon{
  font-size: 20px;
  color:green;
}
.add-icon{
  font-size: 20px;
  color:blue;
}
.eye-icon{
  font-size: 20px;
  color:teal;
}

.module-permission-box{
  max-height: 400px;
  overflow-x: auto;
}


